@font-face {
  font-family: 'PismoTech';
  src: url('fonts/FL Pismo Techniczne.ttf') format('truetype');
}

body {
    font-family: 'PismoTech', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #35637c;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

h2 {
    text-align: center;
    color: #333;
    margin-top: 0px;
}

h3 {
	font-weight: lighter;
    text-align: center;
    color: #333;
    margin-top: 0px;
    cursor: pointer; /* Kursor zmienia się na wskaźnik */
}

/* Stylizacja dla głównych sekcji projektów */
.project-category{
	background-color: #eee;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 20px;
}

/* Stylizacja dla podkategorii projektów */
.sub-category {
    background-color: #f8f8f8;
    border: 1px solid #bbb;
    border-radius: 5px;
    margin: 15px 0;
    padding: 5px;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
}

.projects-container.visible {
    display: none; /* Pokaż, gdy klasa visible jest dodana */
}

.project-tile {
	font-family: Arial, sans-serif;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    width: 220px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    transition: transform 0.2s;
}

.project-tile:hover {
    transform: scale(1.05);
}

.project-tile img {
    width: 100%;
    border-bottom: 1px solid #ddd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.project-details {
    padding: 15px;
}

.project-details h3 {
    font-size: 1.5em;
    margin: 0 0 15px 0;
}

.details-button {
	font-size: 0.9em;
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s;
	margin: 0 0 5px 0;
}

.details-button:hover {
    background-color: #555;
}

/* Stylizacja dla ikon statusu projektu */
.project-status {
    position: absolute;
    top: 10px;
    right: 10px;
}

.project-status .completed {
    color: #6b9c3f;
    font-size: 1.5em;
}

.project-status .not-completed {
    color: #bf494d;
    font-size: 1.5em;
}

.toggle-all-button {
	margin: 10px 0 0 0;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    padding: 10px 120px;
    background-color: #fff;
    color: #35637c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.toggle-all-button:hover {
    background-color: #4f81bd;
    color: #fff;
}



----------------------------------------------------------------------------
        .btn {
            background-color: #007bff;
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            border-radius: 4px;
        }
        .btn:hover {
            background-color: #0056b3;
        }
        
        /* Modal (ukryty domyślnie) */
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.4);
        }

        /* Treść modala */
        .modal-content {
            background-color: #fff;
            margin: 2% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            border-radius: 6px;
        }
		
		.modal img {
			width: 1080px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		
        /* Przycisk zamykania */
        .close {
            color: #aaa;
            float: right;
            font-size: 56px;
            font-weight: bold;
        }
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
		
		.prev, .next {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			background-color: rgba(255, 255, 255, 0.7);
			border: none;
			font-size: 48px;
			cursor: pointer;
			padding: 10px;
			border-radius: 50%;
		}

		.prev {
			left: 10px;
		}

		.next {
			right: 10px;
		}

		.modal-content {
			position: relative; /* Dodać dla przycisków nawigacji */
			overflow: hidden; /* Ukryć nadmiar treści */
		}